
.header_div{
  width: 100%;
  height: $header_height;
  background-color: #AAAAAA;
  font-size: 2rem;
  font-weight: bold;
  color:#000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
}