.layout_wrapper{
  display: flex;
  height: 100vh;
  .main{
    flex: 1;
    height: 100vh;

    .content{
      flex: 1;
      font-size: 2rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: calc(100% - #{$header_height} - #{$header_footer});
    }
  }
  &.sidebar_right{
    flex-direction: row-reverse;
  }
  &.header_top{
    flex-direction: column;
    .main{
      display: flex;
    }
  }
 
}
// .layout_wrapper_header{
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   .main{
//     flex: 1;
//     display: flex;
//     .content{
//       flex: 1;
//       font-size: 2rem;
//       font-weight: bold;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       min-height: calc(100% - #{$header_height} - #{$header_footer});
//     }
//   }
// }